# Credit to Team 1678 for most of this
name: "Build and Test"

on:
  push:
    branches: "*"
  pull_request:
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # This grabs the WPILib docker container
    container: wpilib/roborio-cross-ubuntu:2023-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4

    # Grant execute permission for gradlew
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # Install toolchain in order for C++ to cross compile
    - name: Install Roborio Toolchain
      run: ./gradlew installRoborioToolchain

    # Runs a single command using the runners shell
    - name: Compile and run tests on robot code
      run: ./gradlew build
